#banner{
        height: 300px;
        width: 100%;
        object-fit: cover;
      }

#costa_logo{
    padding: 5px;
    width: 180px;
    align-self: flex-start;
}

/* h1{
  font-size:40px;
  font-family: Roboto;
  font-weight: normal;
  color:rgb(50,50,50);
  text-align:center;
} */

/* h2{
  font-size:32px;
  font-family: Roboto;
  font-weight: normal;
  color:rgb(100,100,100);
  text-align:center;
} */

/* p{
  font-family: Roboto;
  font-weight: normal;
  color:rgb(80,80,80);
  text-align:center;
} */



/* .bodytext{
  font-family: Roboto;
  font-weight: normal;
  color:rgb(80,80,80);
  text-align:center;
} */

